<div class="inventory-header">
  <h2>Inventory</h2>

  <div class="gold-display">
    <div class="gold-icon"></div>
    <span>{{ gameState.player().gold }}</span>
  </div>
</div>

<div class="inventory-list">
  @for (item of gameState.player().inventory; track item.itemId) {
    <div
      class="inventory-item"
      (click)="selectItem(item)"
      (mouseenter)="showItemTooltip($event, item)"
      (mousemove)="moveItemTooltip($event)"
      (mouseleave)="hideItemTooltip()"
    >
      <!-- Equipped indicator -->
      <div class="equipped-icon" [class.equipped]="isItemEquipped(item)"></div>

      <!-- Item icon -->
      <img class="inventory-item-icon" [src]="'icons/' + item.icon + '.svg'" />

      <!-- Item name -->
      <span class="inventory-item-name">
        {{ item.name }}
      </span>

      @if (gameState.isMerchantOpen()) {
        <button class="item-action" type="button" (click)="sellItem(item, $event)">
          <div class="sell-icon"></div>
        </button>
      } @else {
        <button class="item-action" type="button" (click)="trashItem(item, $event)">
          <div class="trash-icon"></div>
        </button>
      }
    </div>
  }
</div>

@if (itemTooltipVisible && selectedItem) {
  <div class="item-tooltip" [style.left.px]="itemTooltipX" [style.top.px]="itemTooltipY">
    <strong>
      {{ selectedItem.name }}
    </strong>

    @if (getWeaponDamage(selectedItem) > 0) {
      <div>Damage: {{ getWeaponDamage(selectedItem) }}</div>
    }

    @if (getArmorValue(selectedItem) > 0) {
      <div>Armor: {{ getArmorValue(selectedItem) }}</div>
    }

    @if (getHealingValue(selectedItem) > 0) {
      <div>Heals: {{ getHealingValue(selectedItem) }}% of Max Health</div>
    }

    <div class="item-value">Value: {{ getSellValue(selectedItem) }} gold</div>
  </div>
}
