:host {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 100%;
  padding: 8px;
  background: #2f3542;
  color: white;
  border-right: 1px solid #666;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
}

hr {
  width: 100%;
  margin: 8px 0;
}
